JWT_SECRET=
SESSION_EXPIRY=
DEFAULT_CURRENCY=
DEFAULT_REGISTRATION_PERCENTAGE=
DEFAULT_MID_SEMESTER_PERCENTAGE=
DEFAULT_FINAL_PERCENTAGE=
DEFAULT_LATE_PAYMENT_CHARGE=
DATABASE_URL=
SQL_PORT=
GEMINI_API_KEY=
